.profile{
    background-color: #F0F8FF;
margin-right: auto;
margin-left: auto;
margin-top: 10px;
width: 300px;
padding-top: 20px;
border-radius: 40px;
}

.description{
text-align: center;
}

.name{
    font-weight: 700;
    font-size: 20px;
}

.tag,.location{
    color: gray;
}

.stats{
    align-items: center;
background-color: #F5F5DC;

    display: flex;
    text-align: center;
    padding: 0; 
}

.list{
width: 100px;
padding: 10px;
border: 1px solid #DCDCDC;
border-radius: 5px;
}

.label{
    color: gray;
}

.quantity{
    display: block;
    padding-top: 5px;
    color: black;

    font-weight: 700;
}